mixin Contact
  +Section#contact 
    .row
      h2.text-light.text-center.mb-8 Contact Us
      .col-12.col-lg-6.col-xl-7.mb-4.order-0.order-sm-0
        a.logo-footer.fs-7(href='index.html')
          span.text-primary.fs-3.ms-2.fw-bolder ማኅበረ አማኑኤል
        span.fw-thin.text-300.fs-3  ዘዲያቆናት  
        p.text-light.my-4 
          i.fas.fa-map-marker-alt.me-3
          span.text-light ደብረ ገሊላ አማኑኤል ካቴድራል ቤ/ክ ግቢ ውስጥ &nbsp; 
          a(href='tel:+251909041919').text-light
          br
          |አዲስ አበባ, ኢትዮጵያ
       
        p.text-light 
          i.fas.fa-envelope.me-3.text-primary 
          a(href='mailto:vctung@outlook.com') mahberdiyakonat@gmail.com 

        p.text-light 
          i.fas.fa-phone-alt.me-3.text-primary 
          a(href='tel:+251909041919') +25190 904 1919 (Support)

      .col-12.col-lg-6.col-xl-5
        p.text-light  
          a(href='tel:+251909041919')  Our youtube channel subscribe now 
        
        <iframe height='400' width='500' src="https://www.youtube.com/embed/7SgdVpk0e1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      //- img.feature-img(src=`${CWD}assets/img/gallery/n.png` alt='...')  
      //-   form.position-relative  
      //-     .input-group-icon
      //-       input.form-control.form-ensurance-control(type='email' placeholder='Enter your email ' aria-label='email') 
      //-     button.btn.btn-primary.btn-subscribe(type='submit') Subscribe now