mixin HeroSection
  section.py-0
    +Background({ image: `${CWD}assets/img/illustrations/bg.png`, attrs: { style: { 'background-position': 'left center', 'background-size': 'auto 816px'} }, className: '' })
    .container
      .row.align-items-center.min-vh-100
        .col-md-12.col-xl-12.pt-9.text-md-start.text-center
          h1.display-4.text-light.fw-thin የደብረ ገሊላ አማኑኤል ካቴድራል ማኅበረ አማኑኤል ዘዲያቆናት
            br.d-none.d-xl-block
            strong.fw-bolder  
          p.fs-2.text-400 
            |የተቸገሩ አብያተ ክርስቲያናት መርጃ ፲፱፺፮ (1996)ተመሰረተ 